<!-- <mat-card >
    <mat-card-content>
        <p>
            Are you sure to submit the quiz answers?
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="close(true)">Yes</button>
        <button mat-raised-button color="accent" (click)="close(false)">No</button>
    </mat-card-actions>
</mat-card> -->
<div style="display: flex; flex-direction: column; height: 100%; width: 100%;">
    <div style=" height: 60%; width: 100%;">
        <p>
            Are you sure to submit the quiz answers?
        </p>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <button mat-raised-button color="primary" (click)="close(true)">Yes</button>
        <button mat-raised-button color="accent" (click)="close(false)">No</button>
    </div>
</div>
